.bm {
  &-menu {
    background-color: $colorBlue;
    background-image: url("../../images/neonLogo.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 40px 25px 0;
  }
  &-burger {
    &-button {
      position: fixed;
      width: 26px;
      height: 20px;
      right: 36px;
      top: 20px;
      @include tablet() {
        display: none;
      }
    }
    &-bars {
      cursor: pointer;
      background: $colorBlue;
    }
  }
  &-cross {
    background: $colorFucshia;
  }

  &-item {
    font-size: 1.2rem;
    padding: 20px 0;
    color: $colorFucshia;
    text-transform: uppercase;
    font-weight: 500;
    &:hover {
      color: $colorPink;
    }
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
    }
  }
}
