.searchArea {
  &__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $colorNoWhite;
  }
  &__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 15%;
  }
}
