.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: $colorFucshia;
  &__menu {
    display: block;
    @include tablet() {
      display: block;
    }
    &--list {
      height: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      @include tablet() {
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    &--item {
      padding-right: 20px;
      text-transform: uppercase;
    }
  }
}
