.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: $colorBlue;
  &__menu {
    display: none;
    @include tablet() {
      display: flex;
    }
  }
}
