.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: $colorFucshia;
  &__image {
    display: flex;
    padding-left: 2%;
  }
  &__menu {
    display: block;
    padding-right: 2%;
    &--list {
      height: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 500;
    }
    &--item {
      text-transform: uppercase;
      &-link {
        font-size: 0.7rem;
        padding-right: 10px;
        @media (min-width: 330px) {
          font-size: 0.9rem;
        }
        @include preTablet() {
          font: 1rem;
          padding-right: 20px;
        }
        &:hover {
          color: $colorBlue;
        }
      }
    }
  }
}
