.queensList {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__card {
    width: 60%;
    height: 280px;
    border-radius: 20px;
    background-color: rgba(229, 0, 124, 0.2);
    margin-bottom: 25px;
    &--img {
      height: 85%;
      min-width: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 20px;
    }
    &--name {
      text-align: center;
    }
  }
}
