//PALETTE
$colorNoBlack: #4d4249;
$colorPink: #ff5ed5;
$colorFucshia: #e5007c;
$colorBlue: #59c9c5;
$colorIce: #c5ded2;
$colorNoWhite: #efecce;

//FUENTES
$fontMontserrat: "Montserrat", sans-serif;
