//PALETTE
$colorNoBlack: #1b1b1b;
$colorPink: #ff5ed5;
$colorFucshia: #e5007c;
$colorBlue: #59c9c5;
$colorIce: #c5ded2;
$colorNoWhite: #efecce;

//PALETTE DARK MODE
$colorNoBlack: #0d0d0d;
$colorPink: #ff5ed5;
$colorPurple: #6f04d9;
$colorDarkPurple: #090126;
$colorMediumPurple: #270f59;
$colorNoWhite: #efecce;

//FUENTES
$fontMontserrat: "Montserrat", sans-serif;
